<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <a class="btn btn-primary" href="discussions/newtopic">Start a Discussion</a>

        <p th:unless="${discussions} and ${discussions.size()}">There are currently no discussions. Click 'Start a Discussion' Above to add one!</p>
        <article class="container post" th:each="discussion : ${discussions}">
            <a th:href="'/discussions/viewtopic/' + ${discussion.id}"><h3 th:text="${discussion.title}"></h3></a>
            <p th:text="'Posted by ' + ${discussion.author.username}"></p>
            <span th:text="${discussion.timeStamp}"></span>
        </article>
    </main>

</div>

</body>

</html>