<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <a class="btn btn-primary" th:href="@{/discussions/newtopic}">Start a Discussion</a>

        <p th:unless="${discussions} and ${discussions.getSize()}">There are currently no discussions. Click 'Start a Discussion' Above to add one!</p>
        <article class="post" th:each="discussion : ${discussions}">
            <h3>
                <a th:href="'/discussions/viewtopic/' + ${discussion.id}" th:text="${discussion.title}"></a>
            </h3>
            <div class="post-signature">
                <p th:text="'Posted by ' + ${discussion.author.username}"></p>
                <p th:text="${discussion.timeStamp}"></p>
                <p th:text="${discussion.getComments().size()} + ' comments'"></p>
            </div>
        </article>
    </main>

    <nav aria-label="...">
        <ul class="pager">
            <li><a th:href="@{'/discussions?page=' + ${page - 1}}" th:class="${visibilityPrev}">Previous Page</a></li>
            <li><a th:href="@{'/discussions?page=' + ${page + 1}}" th:class="${visibilityNext}">Next Page</a></li>
        </ul>
    </nav>

</div>

</body>

</html>