<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-secondary"></nav>
    </header>

    <main class="container">
        <article class="container post" th:each="discussion : ${discussions}">
            <a th:href="'/discussions/' + ${discussion.id}"><h2 th:text="${discussion.title}"></h2></a>
            <p th:text="${discussion.postBody}"></p>
            <p th:text="'Posted by ' + ${discussion.author}"></p>
            <span th:text="${discussion.timeStamp}"></span>
        </article>
    </main>

</div>

</body>

</html>