<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">
        <h1 th:text="${header}"></h1>
        <p>Fields marked with an asterisk (*) are required.</p>
        <form th:object="${discussion}" method="post">

            <div class="input-group">
                <label th:for="title">Post Title*</label>
                <input th:field="*{title}" class="form-control" />
                <span th:errors="*{title}" class="error"></span>
            </div>

            <div class="input-group">
                <label th:for="postBody">Post Body*</label>
                <textarea th:field="*{postBody}" class="form-control"></textarea>
                <span th:errors="*{postBody}" class="error"></span>
            </div>

            <input type="submit" value="Post" class="btn btn-primary" />

        </form>

    </main>

</div>

</body>
</html>