<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">
        <h1 th:text="${header}"></h1>
        <p>Fields marked with an asterisk (*) are required.</p>
        <form th:object="${discussion}" method="post">

            <div class="form-group row">
                <label th:for="title" class="col-sm-2 col-form-label">Post Title*</label>
                <div class="col-sm-7">
                    <input th:field="*{title}" class="form-control input-lg" />
                </div>
                <span th:errors="*{title}" class="text-danger col-sm-3"></span>
            </div>

            <div class="form-group row">
                <label th:for="postBody" class="col-sm-2 col-form-label">Post Body*</label>
                <div class="col-sm-7">
                    <textarea th:field="*{postBody}" class="form-control input-lg"></textarea>
                </div>
                <span th:errors="*{postBody}" class="text-danger col-sm-3"></span>
            </div>

            <input type="submit" value="Post" class="btn btn-primary" />

        </form>

    </main>

</div>

</body>
</html>