<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <article class="container post">
            <h2 th:text="${discussion.title}"></h2>
            <p th:text="${discussion.postBody}"></p>
            <p th:text="'Posted by ' + ${discussion.author.username}"></p>
            <span th:text="${discussion.timeStamp}"></span>
        </article>

        <form th:object="${comment}" method="post">

            <div class="input-group">
                <label th:for="text">Comment</label>
                <textarea th:field="*{text}" class="form-control"></textarea>
                <span th:errors="*{text}" class="text-danger"></span>
            </div>

            <input type="submit" />

        </form>

        <article class="container comment" th:each="comment : ${comments}">
            <h6 th:text="${comment.author}"></h6>
            <p th:text="${comment.text}"></p>
        </article>

    </main>

</div>

</body>
</html>