<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <article class="post">
            <h2 th:text="${discussion.title}"></h2>
            <p th:text="${discussion.postBody}"></p>
            <div class="post-signature">
                <p th:text="'Posted by ' + ${discussion.author.username}"></p>
                <p th:text="${discussion.timeStamp}"></p>
            </div>
        </article>

        <form th:class="${visibilityCommentBox}" th:object="${comment}" method="post">

            <div class="input-group">
                <label th:for="text">Write a Comment</label>
                <textarea class="form-control" th:field="*{text}"></textarea>
                <span th:errors="*{text}" class="text-danger"></span>
            </div>

            <input class="btn-primary" type="submit" />

        </form>

        <article class="container comment" th:each="comment : ${comments}">
            <h6 th:text="${comment.author.username}"></h6>
            <p th:text="${comment.text}"></p>
        </article>

    </main>

</div>

</body>
</html>