<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">
        <h1 th:text="${header}"></h1>
        <p>Fields marked with an asterisk (*) are required.</p>
        <form th:object="${post}" method="post">

            <div class="input-group">
                <label th:for="title">Post Title*</label>
                <input th:field="*{title}" class="form-control" />
                <span th:errors="*{title}" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label th:for="imgUrl">Photo URL*</label>
                <input th:field="*{imgUrl}" class="form-control" />
                <a href="#" data-toggle="tooltip" title="Upload your image to an image host (such as imgur) then paste the direct link to it here.">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
                <span th:errors="*{imgUrl}" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label th:for="location">Location*</label>
                <input th:field="*{location}" class="form-control" />
                <a href="#" data-toggle="tooltip" title="Enter the name and address of the location where you found the item.">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
                <span th:errors="*{location}" class="text-danger"></span>
            </div>

            <input type="submit" value="Post" class="btn btn-primary" />

        </form>

    </main>

</div>

</body>
</html>