<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">
        <h1 th:text="${header}"></h1>
        <p>Fields marked with an asterisk (*) are required.</p>

        <form th:object="${user}" method="post">

            <div class="input-group">
                <label th:for="username">Username*</label>
                <input th:field="*{username}" class="form-control" />
                <span th:errors="*{username}" class="error"></span>
            </div>

            <div class="input-group">
                <label th:for="password">Password*</label>
                <input th:field="*{password}" type="password" class="form-control" />
                <span th:errors="*{password}" class="error"></span>
            </div>

            <input type="submit" value="Sign Up" class="btn btn-primary" />

        </form>

        <p>Return to the login page <a href="/login">here.</a></p>

    </main>

</div>

</body>
</html>